@model SparkApp.Web.ViewModels.Game.GameDetailsViewModel

<div class="row">
	<div class="card mb-3">
		@if (!string.IsNullOrEmpty(@Model.ImageUrl))
		{
			<img src="@Model.ImageUrl" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain;" alt="Game Image">
		}
		else
		{
			<img src="~/game.png" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain;" alt="Game Image">
		}
		<div class="card-body" align="center">
			<h5 class="card-title" align="center">@Model.Title</h5>
			<p class="card-text">@Model.Description</p>
			<p class="card-text"><small class="text-muted">@Model.MainGenre.Name</small></p>
			<p class="card-text"><small class="text-muted">@Model.ReleasedDate.ToShortDateString()</small></p>
			<p class="card-text"><small class="text-muted">Developer: @Model.Developer.Name</small></p>
			<p class="card-text"><small class="text-muted">Director: @Model.LeadDirector.Name</small></p>
			
			<hr/>
			<p class="card-text"><small class="text-muted">Sub Genres:</small></p>
			@foreach (var genre in Model.SubGenres)
			{
				<p class="card-text"><small class="text-muted">@genre.Name</small></p>
			}
			
			<hr/>
			<p class="card-text"><small class="text-muted">Platforms:</small></p>
			@foreach (var p in Model.PlatformsList)
			{
				<a href="@p.LinkToPlatform">@p.Platform.Name</a>
			}

		</div>

		<a asp-controller="Game" asp-action="All" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Back to All Games</a>
		
		<a asp-controller="Game" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Edit</a>
		<a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-rounded mb-2 w-100 p-3 fw-bold">Delete</a>
		
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
