@using static SparkApp.Common.EntityValidationConstants.Game
@model SparkApp.Web.ViewModels.Game.GameDetailsViewModel
@{
	string date = @Model.ReleasedDate.ToString(ReleasedDateFormat);
}

<div class="row">
	<div class="card mb-3">
		@if (!string.IsNullOrEmpty(@Model.ImageUrl))
		{
			<img src="@Model.ImageUrl" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain;" alt="Game Image">
		}
		else
		{
			<img src="~/game.png" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain;" alt="Game Image">
		}
		<div class="card-body" align="center">
			<h5 class="card-title" align="center">@Model.Title</h5>

			<p class="card-text">@Model.Description</p>
			<hr />
			<p class="card-text"><small>Release date: @date</small></p>
			<hr />
			<p class="card-text"><small>Developer: <a asp-controller="Developer" asp-action="Details" asp-route-name="@Model.Developer.Name">@Model.Developer.Name</a></small></p>
			<hr />
			@if (Model.LeadDirector != null)
			{
				<p class="card-text"><small>Director: <a asp-controller="Director" asp-action="Details" asp-route-name="@Model.LeadDirector.Name">@Model.LeadDirector.Name</a></small></p>
			}
			else
			{
				<p class="card-text"><small>Director: The game not have a stated lead director </small></p>

			}
			<hr />
			<p class="card-text"><small>Main Genre: <a asp-controller="Genre" asp-action="Details" asp-route-name="@Model.MainGenre.Name">@Model.MainGenre.Name</a></small></p>
			<hr />
			<p class="card-text"><small>Sub Genres:</small></p>
			@foreach (var genre in Model.SubGenres)
			{
				if (!genre.IsDeleted)
				{
					<a asp-controller="Genre" asp-action="Details" asp-route-name="@genre.Genre.Name" class="card-text"><small>@genre.Genre.Name</small></a>
				}
			}
			<hr />
			<p class="card-text"><small>Platforms:</small></p>
			@foreach (var p in Model.PlatformsList)
			{
				if (!p.IsDeleted)
				{
					<a href="@p.LinkToPlatform">@p.Platform.Name</a>
				}
			}

		</div>
		@if (User.IsInRole("Moderator"))
		{
			<a asp-controller="Game" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Edit</a>
			<a asp-controller="Game" asp-action="ManagePlatforms" asp-route-id="@Model.Id" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Manage Platform</a>
			<a asp-controller="Game" asp-action="ManageSubGenres" asp-route-id="@Model.Id" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Manage Sub Genres</a>
			<a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-rounded mb-2 w-100 p-3 fw-bold">Delete</a>
		}
	</div>

	<a asp-controller="Game" asp-action="All" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Back to All Games</a>
</div>