@model SparkApp.Web.ViewModels.Game.AddPlatformsToGameInputModel

<h2>Manage available platform of the @Model.Title</h2>

<form asp-action="ManagePlatforms" method="post">
	<input type="hidden" asp-for="Id"/>
	<input type="hidden" asp-for="Title"/>
	
	<h3>Select Platforms</h3>
	
	<div class="form-group">
		@for (int i = 0; i < Model.Platforms.Count; i++)
		{
			<hr />
			<div class="form-check">

				<input type="hidden" asp-for="@Model.Platforms[i].Id"/>
				<input type="hidden" asp-for="@Model.Platforms[i].Name"/>
				<input type="checkbox" asp-for="@Model.Platforms[i].IsSelected" class="form-check-input"/>
				<label class="form-check-label">@Model.Platforms[i].Name</label>
				<br/>
				<label class="form-check-label">Link To Platform:</label>
				<input asp-for="@Model.Platforms[i].LinkToPlatform" class="form-control" aria-required="false" placeholder="Enter Url to platform (optional)"/>
			</div>
		}

		<button type="submit" class="btn btn-primary">Confirm</button>
	</div>
</form>